<h1><br>(2)</br>Data Science Tools and Ecosystem</h1>

(10)
<b>Objectives:</b>
<ol>
    <li>show basic markup language skills</li>
    <li>show basic python language skills</li>
    <li>demonstrate ability to use JupyterLab</li>
    <li>learn something</li>
</ol>

(3)
In this notebook, Data Science Tools and Ecosystem are summarized.

(4)
Some of the popular languages that Data Scientists use are:
<ol>
  <li>Python</li>
  <li>R</li>
  <li>C++</li>
</ol>

(5)
Some of the commonly used libraries used by Data Scientists include:
<ol>
  <li>TensorFlow</li>
  <li>PyTorch</li>
  <li>Keras</li>
</ol>

(6)
Data Science Tools
| Tool Purpose/Description | Tool Example |
| --------------------------------------- | -------------------------------- |
| Defining the Business Problem | .pptx or meeting |
| Data Acquisition | CSV File output from some sensors |
| Data Storage and Version Control | Git/GitHub |
| Document Process | Jupyter Lab/Notebook |
| Programming Language for Data Science | Python |
| Programming Language for Data Science | R |

<h3><br>(7)</br>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [20]:
### (8) This a simple arithmetic expression to mutiply then add integers
A=3
B=4
C=5
print("D = (",A,"*",B,") +",C)
D=(A*B)+C
print(D)

D = ( 3 * 4 ) + 5
17

In [24]:
### (9) This will convert 200 minutes to hours by diving by 60
mins=200
hrs=mins/60
print(mins,"minutes = ",hrs,"hours")

200 minutes =  3.3333333333333335 hours

(11)
<h2>Author</h2>
Jonathan Harrison (2025)